@charset "utf-8";
header {
    min-width: 980px;
    background-color: #fff;
   

    .top_bar {
        height: 30px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #f4f4f4;
        line-height: 30px;
        font-size: 12px;

        .top_bar_main {
            margin: 0 auto;
            width: 1200px;
            height: 30px;

            .icon {
                display: inline-block;
                font-style: normal;
                vertical-align: middle;
                // float: left;
            }

            .iconfont {
                color: #ff4040;
            }

            >a {
                float: left;
                display: block;
                height: 30px;
                padding: 0 10px;
                color: #666;


                .text {
                    padding-left: 3px;
                }

                em {
                    font-style: normal;
                }
            }

            .notice {
                float: left;
                height: 30px;
                width: 230px;
                padding-left: 20px;
                color: #666;
                overflow: hidden;
                position: relative;


                .notice_slider {
                    // display: block;
                    width: 206px;
                    height: 90px;
                    position: absolute;
                    left: 36px;
                    top: -30px;
                    padding-left: 3px;

                }


            }

            // 登录入口
            .login_entry {
                float: right;
                color: #666;

                li {
                    float: left;
                    position: relative;
                    // z-index: 600;
                    height: 30px;

                    .icon {
                        color: #aaa;
                        display: inline-block;
                        vertical-align: middle;
                        // float: left;
                    }

                    .text {
                        padding-left: 3px;
                        color: #333;
                    }

                    .unlogin {
                        padding: 0 10px;

                        .hd_hi {
                            float: left;
                        }

                        .login_link {
                            color: #ff4040;
                            cursor: pointer;
                            padding-left: 3px;
                        }

                        .regist_link {
                            padding-left: 8px;
                            color: #aaa;
                            cursor: pointer;
                        }
                    }

                    .hd_menu {
                        padding: 0 7px;
                        float: left;
                        min-width: 66px;
                        height: 30px;


                    }
                }

            }
        }
    }

  
}